@tailwind base;
@tailwind components;
@tailwind utilities;

.initial_background {
  background: conic-gradient(#0252cd, #0252cd54);
}

.input_light:focus,
.textarea_light:focus {
  @apply outline-2 border-primaryLight;
  box-shadow: none !important;
}

.input_dark:focus,
.textarea_dark:focus {
  @apply outline-2 border-primaryDark;
  box-shadow: none !important;
}

.shadow_left_bottom {
  box-shadow: "-15px 15px 20px rgba(0, 0, 0, 0.2)"; /* Adjust values as needed */
}
