@tailwind base;
@tailwind components;
@tailwind utilities;

.initial_background {
  background: conic-gradient(#0252cd, #0252cd54);
}

.input_light:focus,
.textarea_light:focus {
  outline: 2px solid #0252cd !important;
  box-shadow: none !important;
}

.input_dark:focus,
.textarea_dark:focus {
  outline: 2px solid #428dff !important;
  box-shadow: none !important;
}
